.error-message {
	color: red;
	font-size: 12px;
}

.col-lg-3 {
	width: 350px;
    height: 350px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}